<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
  <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>${env.connected_app_client_id}~?~${env.connected_app_client_secret}</password>
    </server>
  </servers>
</settings>